<section class="language-bar">


    <!-- FROM LANGUAGE -->

    <div class="language-selector">

        <span class="selector-label">
            FROM
        </span>

        <select id="fromLanguage">

            <option value="english">
                🇬🇧 English
            </option>

            <option value="hindi">
                🇮🇳 Hindi
            </option>

            <option value="bhojpuri">
                🗣️ Bhojpuri
            </option>

            <option value="maithili">
                🗣️ Maithili
            </option>

            <option value="magahi">
                🗣️ Magahi
            </option>

            <option value="awadhi">
                🗣️ Awadhi
            </option>

            <option value="braj">
                🗣️ Braj
            </option>

        </select>

    </div>


    <!-- SWAP -->

    <button
        class="swap-btn"
        id="swapBtn"
    >

        ⇄

    </button>


    <!-- TO LANGUAGE -->

    <div class="language-selector">

        <span class="selector-label">
            TO
        </span>

        <select id="toLanguage">

            <option value="hindi">
                🇮🇳 Hindi
            </option>

            <option value="english">
                🇬🇧 English
            </option>

            <option value="bhojpuri">
                🗣️ Bhojpuri
            </option>

            <option value="maithili">
                🗣️ Maithili
            </option>

            <option value="magahi">
                🗣️ Magahi
            </option>

            <option value="awadhi">
                🗣️ Awadhi
            </option>

            <option value="braj">
                🗣️ Braj
            </option>

        </select>

    </div>

</section>